<div class="center jumbotron">
  <h1 class="display-3">Welcome to MyRecipes App</h1>
  <p class="lead">
    This is the home page for the Professional Ruby on Rails Course on Udemy
  </p>
  <hr class="m-y-2">
  
  <%= link_to "Sign up now!", register_path, class: "btn btn-primary btn-lg"%>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <p class="lead left">
      Browse and view recipes as a guest and Sign up later
    </p>
    <p><%= link_to "Browse Recipe Listings", recipes_path, class:"btn btn-primary btn-small"%></p>
  </div>
  
  <div class="col-lg-4">
    <h3 class="midrow">
      Sign in to your account
    </h3>
    <p class=" lead left">
      Add/update your recipes/create reviews/like-dislike recipes and much much more!
    </p>
    <p><%= link_to "Log in to your account", login_path, class:"btn btn-primary btn-small"%></p>
  </div>
  
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <p class=" lead left">
      Browse and view recipes as a guest and Sign up later
    </p>
    <p><%= link_to "Browse Recipe Listings", "", class:"btn btn-primary btn-small"%></p>
  </div>
</div>